
<div id="headerwrap">

    <nav id="navbar2">

        <a id="JK" routerLink="/"><p>JK</p></a>

        <ul>
            <a class="thelink2" routerLink="/"><li>HOME</li></a>
            <a class="thelink2" routerLink="/about"><li>ABOUT</li></a>
            <a class="thelink2" routerLink="/work"><li>WORK</li></a>
            <a class="thelink2" routerLink="/contact"><li>CONTACT</li></a>
        </ul>

        <div (click)="mobileMenu()" id="hamburger">
            <div class="ham"></div>
            <div class="ham"></div>
            <div class="ham"></div>
        </div>
    </nav>





    <nav id="navbar3">


        <ul id="mobileul">
            <a class="thelink3" routerLink="/"><li>HOME</li></a>
            <a class="thelink3" routerLink="/about"><li>ABOUT</li></a>
            <a class="thelink3" routerLink="/work"><li>WORK</li></a>
            <a class="thelink3" routerLink="/contact"><li>CONTACT</li></a>
        </ul>
    </nav>



</div>
