
<div id="empty"></div>
<div id="aboutwrapper">

<app-header></app-header>


    <div id="abouttext">

        <h1>About</h1>

        <div id="aboutboxes">

        <p>Hi! When I was a teenager I used to code simple things with C++, Pascal and HTML. Having almost forgotten how to code after my teenage years,  in 2018 I wanted to find out if I could still make myself a programmer. I started to practise <span style="color: var(--color3)">Javascript</span>, <span style="color: var(--color3)">HTML</span> and <span style="color: var(--color3)">CSS</span> with the help of freeCodeCamp website and I loved it. Pretty soon I wanted to learn more, so I started learning for example <span style="color: var(--color3)">Node.js</span> and frameworks like <span style="color: var(--color3)">React</span> and <span style="color: var(--color3)">Angular</span> among other things. Now I am in the process of figuring out what could be my next step to become a professional coder. From this website you can find projects that I haved work on so that you will get an idea about my skills.</p>
        <span style="text-align: center"><p>Thanks for stopping by!</p> </span>   
        <span style="text-align: center"><p>Jukka</p></span>
            
        <img src="assets/pictures/jukka1.jpg">

        </div>

    </div>

</div>
