<div id="contactempty"></div>
<div id="contactwrapper">
    <div id="contactwrapper2">

    <app-header></app-header>

    <div id="contact-text">

    <h1>Contact</h1>
    <p>Yeah you can contact me for just about anything!</p>
    <p>Just do it &#8595;</p>
    <p>keranen.jukkapetteri@gmail.com</p>
    <p>050 344 0852</p>

    <div id="logos">
        <a href="https://github.com/KeranenJukka" target="_blank"><img src="assets/pictures/github.png"></a>
        <a href="https://codepen.io/Kerde/" target="_blank"><img src="assets/pictures/codepen.png"></a>
        <a href="https://www.freecodecamp.org/kerde" target="_blank"><img src="assets/pictures/freecodecamp.jpeg"></a>
    </div>


    </div>

</div>
</div>
