
<div id="emptyhead"></div>
<div id="workwrapper">

    <app-header></app-header>


    <div id="worktext">

        <h1>Work</h1>

        <p>From here you can find projects that I have worked on and what technologies I mainly used on them. I have tried to make all projects also compatible with mobile devices.</p>

        <h2>Projects</h2>

        <div style="border-top: 1px var(--color2) solid" class="project">
            <p><span style="color: var(--color3)">Sirkussirkus Online Store</span></p>
            <p>This is my biggest project. It's an online store made with <span style="color: var(--color3)">React</span> and <span style="color: var(--color3)">Redux</span>. The whole website is based on a single <span style="color: var(--color3)">JSON</span> file and when you update the file, products and pictures render to the webpage automatically. Since this was a learning project, I wanted to make this without additional libraries. This is also being updated from time to time. The website is designed by Kaj-Mikael Schütt (owner of the online store) and me.</p>
            <p><a href="https://github.com/KeranenJukka/sirkussirkus" target="_blank" class="project-link">Github</a></p>
            <p><a href="http://putiikki.sirkussirkus.com/" target="_blank" class="project-link">Website</a></p>
        </div>

        <div style="border-top: 1px var(--color2) solid" class="project">
            <p><span style="color: var(--color3)">ASMR Concentration Game - iOS</span></p>
            <p>This is a memory game with ASMR sounds. You can find the game from App Store (it is free) and the project from Github. The game is made with <span style="color: var(--color3)">React Native</span> and <span style="color: var(--color3)">Expo</span>. ASMR Concentration game is designed by me and it works with iPhone and iPad.</p> 
            <p><a href="https://github.com/KeranenJukka/CG-ios" target="_blank" class="project-link">Github</a></p>
            <p><a href="https://apps.apple.com/app/id1486320877" target="_blank" class="project-link">App Store page</a></p>
        </div>


        <div class="project">
            <p><span style="color: var(--color3)">This Portfolio Website</span></p>
            <p>This portfolio is made with <span style="color: var(--color3)">Angular</span> and the data flows through this site with <span style="color: var(--color3)">RXjS</span>. For the the 3D I used <span style="color: var(--color3)">Three.js</span> and for the animations <span style="color: var(--color3)">TweenMax</span>. 3D model is from Sketchfab website.</p>
            <p><a href="https://github.com/KeranenJukka/portfolio" target="_blank" class="project-link">Github</a></p>
            <p><a href="http://portfolio.jkeranen.com" target="_blank" class="project-link">Website</a></p>
        </div>

        <div class="project">
            <p><span style="color: var(--color3)">Online CV</span></p>
            <p>This single page website is made with <span style="color: var(--color3)">Angular</span>. For the the animations I used <span style="color: var(--color3)">TweenMax</span>.</p>
            <p><a href="https://github.com/KeranenJukka/cv" target="_blank" class="project-link">Github</a></p>
            <p><a href="http://cv.jkeranen.com" target="_blank" class="project-link">Website</a></p>
        </div>

        <div class="project">
            <p><span style="color: var(--color3)">Artist Page for Kai Kuutamo - WORK IN PROGRESS!</span></p>
            <p>This is my current project. It is an artist page with multiple tabs. I am using <span style="color: var(--color3)">React</span>, <span style="color: var(--color3)">Redux</span>, <span style="color: var(--color3)">Three.js</span> and <span style="color: var(--color3)">TweenMax</span> with this one. The site is almost ready and I am waiting the final material from the website owner. You can check out the test site from the link and the project can also be found on the Github. The website is designed by Kaj-Mikael Schütt (owner of the website) and me.</p>
            <p><a href="https://github.com/KeranenJukka/kaikuutamo" target="_blank" class="project-link">Github</a></p>
            <p><a href="http://test1.jkeranen.com" target="_blank" class="project-link">Test website</a></p>
        </div>

        <div id="freecode">
        <h3>freeCodeCamp projects</h3>
        <p>Here are all the projects I made when I learned programming from freeCodeCamp website.</p>
        </div>

        <div style="border-top: 1px var(--color2) solid" class="project">
            <p><span style="color: var(--color3)">Personal Portfolio</span></p>
            <p>Single page website with some animation on a canvas. </p>
            
            <p><a href="https://codepen.io/Kerde/full/BvMbpP" target="_blank" class="project-link">CodePen</a></p>
        </div>

        <div style="border-top: 1px var(--color2) solid" class="project">
            <p><span style="color: var(--color3)">Pomodoro Clock</span></p>
            <p>Pomodoro clock made with <span style="color: var(--color3)">React</span>.</p>
            
            <p><a href="https://codepen.io/Kerde/full/dLpaqW" target="_blank" class="project-link">CodePen</a></p>
        </div>

        <div style="border-top: 1px var(--color2) solid" class="project">
            <p><span style="color: var(--color3)">Random Quote Machine</span></p>
            <p>Quote machine that picks a random quote every time from array of quotes. Made with <span style="color: var(--color3)">React</span>.</p>
            
            <p><a href="https://codepen.io/Kerde/full/MLaNeK" target="_blank" class="project-link">CodePen</a></p>
        </div>

        <div style="border-top: 1px var(--color2) solid" class="project">
            <p><span style="color: var(--color3)">Drum Machine</span></p>
            <p>Drum machine with trap style drums. Made with <span style="color: var(--color3)">React</span>.</p>
            
            <p><a href="https://codepen.io/Kerde/full/exRPPb" target="_blank" class="project-link">CodePen</a></p>
        </div>

        <div style="border-top: 1px var(--color2) solid" class="project">
            <p><span style="color: var(--color3)">Calculator</span></p>
            <p>Simple calculator. Made with <span style="color: var(--color3)">React</span>.</p>
            
            <p><a href="https://codepen.io/Kerde/full/wYbjwb" target="_blank" class="project-link">CodePen</a></p>
        </div>

        <div style="border-top: 1px var(--color2) solid" class="project">
            <p><span style="color: var(--color3)">Markdown Previewer</span></p>
            <p>Windows 95 style Markdown Previewer. Made with <span style="color: var(--color3)">React</span>.</p>
            
            <p><a href="https://codepen.io/Kerde/full/rPMmqw" target="_blank" class="project-link">CodePen</a></p>
        </div>

        <div style="border-top: 1px var(--color2) solid" class="project">
            <p><span style="color: var(--color3)">Product Landing Page</span></p>
            <p>Simple one page product landing website.</p>
            
            <p><a href="https://codepen.io/Kerde/full/OaYBMv" target="_blank" class="project-link">CodePen</a></p>
        </div>

        <div style="border-top: 1px var(--color2) solid" class="project">
            <p><span style="color: var(--color3)">Technical Documentation Page</span></p>
            <p>Simple technical documentation.</p>
            
            <p><a href="https://codepen.io/Kerde/full/GzJeVP" target="_blank" class="project-link">CodePen</a></p>
        </div>

        <div style="border-top: 1px var(--color2) solid" class="project">
            <p><span style="color: var(--color3)">Gaming Survey</span></p>
            <p>Simple survey page.</p>
            
            <p><a href="https://codepen.io/Kerde/full/xQoxqp" target="_blank" class="project-link">CodePen</a></p>
        </div>

        <div style="border-top: 1px var(--color2) solid" class="project">
            <p><span style="color: var(--color3)">Tribute Page</span></p>
            <p>Simple one page tribute website.</p>
            
            <p><a href="https://codepen.io/Kerde/full/gwvGXd" target="_blank" class="project-link">CodePen</a></p>
        </div>

        <div style="border-top: 1px var(--color2) solid" class="project">
            <p><span style="color: var(--color3)">Merry Christmas Card</span></p>
            <p>Well this is not a freeCodeCamp project but this is my first shot at doing animation. I had no idea what I was doing but the card works pretty well!</p>
            
            <p><a href="https://codepen.io/Kerde/full/aPZjjq" target="_blank" class="project-link">CodePen</a></p>
        </div>

    </div>

</div>
