
#background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -100;
    overflow: hidden;
    
}

#bgpiccont {
    
    position: fixed;

    opacity: 0.2;
    z-index: -150;
    overflow: hidden;
}

#bgpic {
    width: 100vw;
    height: 100vh;
    
    object-fit: cover;
    
}

#bgcolor {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -200;
    background: var(--color1);
    overflow: hidden;
}