#background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -100;
  overflow: hidden;
}
#bgpiccont {
  position: fixed;
  filter: brightness(40%);
  opacity: 0.3;
  z-index: -150;
  overflow: hidden;
}
#bgpic {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
#bgcolor {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -200;
  background: var(--color1);
  overflow: hidden;
}
