/* You can add global styles to this file, and also import other style files */

:root {
    --height: 96vh;
  }

body {
    margin: 0;
    padding: 0;

    --color1: #230b3f;
    --color2: white;
    --color3: #34cede;
    --color4: #34cede;

    --color5: #f013c5;

    

}
