<div id="homewrapper">

    <div id="contwrapper">
    <div id="contwrapper2">

   <div id="title">
                <p>What's up, I am</p>
                <h1>Jukka Keränen</h1>
                <p>a Web Developer</p>
    </div>
        


    <nav id="navbar">
        <ul>
            <a class="thelink" routerLink="/about"><li>ABOUT</li></a>
            <a class="thelink" routerLink="/work"><li>WORK</li></a>
            <a class="thelink" routerLink="/contact"><li>CONTACT</li></a>
        </ul>
    </nav>

    </div>
    </div>


    <div id="downtexts">
    <p id="downtext1">Portfolio</p>
    
    </div>

</div>



